<div class="landing-cont">
  <div class="bg_landing">
    <div class="bg-img">
      <%= image_tag("Background_Landing_Northern_Lights.jpg", alt: "Picture of Northern Lights over mountains bordered by water") %>
    </div>
    <div class="title-ban">
      <%= image_tag("Icon_Front_01.png", alt: "Northern Lights") %>
    </div>
    <div class="next-sign">
      <%= image_tag("Icon_Front_02.png", alt: "Next Sign") %>
    </div>
    <div class="invitation-img">
      <%= image_tag("Background_Landing_Stars.jpg", alt: "A sky full of Stars") %>
    </div>
    <div class="footer-land">
      Copyright © 2020 István Lázár & Gauthier Wolters <br>
      All rights reserved.
    </div>
  </div>
</div>
