<p>Bonjour,</p>

<p>Nous te confirmons l'envoi de ton email et nous t'en remercions.</p>

<p>Nous esperons que ta réponse est positive et que nous te verrons en pleine forme pour une soirée de folie.</p>

<p>Astrid, Eline et leur Parents</p>
