// body {
//   overflow-x: hidden;
//   width: 100vw;
// }

.map-cont-small {
  position: relative;
  top: 0;
  bottom: 0;

  height: 100vh;
  width: 100vw;

  z-index: 2;
}

.map-small-bg {
  position: absolute;
  top: 9vh;
  bottom: 0;

  width: 100vw;

  z-index: 1;
}

.map-small-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mapboxgl-popup-anchor-top, .mapboxgl-popup-tip {
  border-top-color: #F4F4F4 !important;
}

.mapboxgl-popup-content {
  color: #080808;
  padding: unset !important;

  background-color: #F4F4F4 !important;
  width: fit-content;
  height: fit-content;
  max-width: 180px;

  border-radius: 5px !important;
  padding: 10px 10px 3px 10px !important;

  font-family: 'Oswald', sans-serif;

  text-align: center;
  vertical-align: middle;
}

.mapboxgl-marker svg g {
  fill: rgba(0,0,0,0.75);
  cursor: pointer;
}

.map_placer {
  position: relative;
  top: 10vh;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-cont {
  position: relative;
  top: 8vh;
  height: 100%;
  width: 100vw;
  bottom: 90px;
}

.landing-fixed-background {
  position: fixed;
  top: 8vh;
  height: 95vh;
  width: 100vw;
}

.landing-fixed-background img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 3;
}

.title-cont {
  position: absolute;
  top: 8vh;
  height: 75vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .title-ban {
//   width: 100vw;
//   display: flex;
//   justify-content: center;
// }

.title-ban img {
  width: 75vw;
  height: 22vw;
}

// .next-sign {
//   width: 100vw;
//   display: flex;
//   justify-content: center;
// }

.next-sign img {
  width: 20vw;
  height: 20vw;
}

.invit-cont {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 31px;

  color: rgb(226,226,226);
}

.invitation-img {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.invitation-img img {
  display: block;
  position: absolute;
  width: 100vw;
  height: 150vh;
  z-index: 5;
  top: 100vh;
}

.invit-txt-top-left {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 22vh;
  left: 0px;
  top: 100vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 22px;
}

.invit-txt-top-right {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 22vh;
  right: 0px;
  top: 100vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 22px;
}

.invit-txt-top-centre {
  position: absolute;
  // background: red;
  width: 100vw;
  height: 8vh;
  right: 0px;
  top: 120vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-letter {
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

.invit-name-left {
  position: absolute;
  // background: purple;


  width: 40vw;
  height: 28vh;
  left: 0px;
  top: 128vh;
  z-index: 1100;

  font-size: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-name-right {
  position: absolute;
  // background: purple;
  width: 40vw;
  height: 28vh;
  right: 0px;
  top: 128vh;
  z-index: 1100;

  font-size: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-logo {
  position: absolute;
  // background: blue;
  height: 28vh;
  width: 20vw;
  left: 40vw;
  top: 128vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
}

.invit-logo img {
  width: 9em;
  height: 9em;
}

.invit-date {
  position: absolute;
  // background: red;
  width: 100vw;
  height: 11vh;
  right: 0px;
  top: 157vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-left {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 24vh;
  left: 0px;
  top: 167vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-centre {
  position: absolute;
  // background: blue;
  width: 34vw;
  height: 24vh;
  left: 33vw;
  top: 167vh;
  padding-bottom: 1.87em;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-right {
  position: absolute;
  // background: green;
  width: 33vw;
  height: 24vh;
  right: 0px;
  top: 167vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-groups {
  position: absolute;
  // background: red;
  width: 100vw;
  height: 8vh;
  right: 0px;
  top: 188vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.7em;
}

.localisation-text {
  position: absolute;
  // background: gray;
  flex-direction: column;
  width: 50vw;
  height: 46vh;
  left: 0px;
  top: 192vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event_address_small a {
  display: none;
  color: inherit;
  text-decoration: underline;
}

.localisation-map {
  position: absolute;
  width: 50vw;
  height: 46vh;
  right: 0px;
  top: 192vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#map {
  height: 34vh;
  width: 42vw;
  z-index: 1200;
}

.response-cont {
  position: absolute;
  // background: red;
  width: 100vw;
  height: 12vh;
  right: 0px;
  top: 238vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.response-cont a {
  color: rgb(226,226,226);
  text-decoration: underline;
  &:hover {
    color: rgb(226,226,226);
    text-decoration: none;
  }
}

.response-btn {
  color: rgb(226,226,226);
  text-decoration: underline;
  &:hover {
    color: rgb(226,226,226);
    text-decoration: none;
  }
}

.footer-land {
  display: block;
  position: absolute;
  left : 0px;
  top: 250vh;
  height: 90px;
  width: 100vw;
  padding: 29px 0px;
  background-color: #00020c;
  color: rgb(226,226,226);
  text-align: center;
  font-size: 0.7em;
  z-index: 1000;
}


@media screen and (max-width: 992px) {
  .title-ban img {
    top: 9vw;
  }

  .next-sign img {
    top: 42vw;
  }
}

@media screen and (max-width: 850px) {
  .invit-cont {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    line-height: 22px;
  }

  .invitation-img img {
    height: 170vh;
  }

  .invit-txt-top-left {
    width: 50vw;
    font-size: 1.3em;
  }

  .invit-txt-top-right {
    width: 50vw;
    font-size: 1.3em;
  }

  .invit-txt-top-centre {
    height: 11vh;
  }

  .invit-name-left {
    font-size: 2.7em;
  }

  .invit-logo img {
    height: 7em;
    width: 7em;
  }

  .invit-name-right {
    font-size: 2.7em;
  }

  .invit-date {
    height: 8vh;
    top: 154vh;
  }

  .invit-bottom-left {
    top: 162vh;
    width: 50vw;
    height: 20vh;
  }

  .invit-bottom-right {
    top: 162vh;
    width: 50vw;
    height: 20vh;
  }

  .invit-bottom-centre {
    padding-bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 16vh;
    top: 182vh;
  }

  .invit-groups {
    top: 200vh;
  }

  .localisation-map {
    display: none;
  }

  .event_address_small a {
    display: block;
  }

  .event_address_big {
    display: none;
  }

  .localisation-text {
    width: 100vw;
    top: 206vh;
    height: 48vh;
  }

  .response-cont {
    top: 255vh;
  }

  .response-cont a {
    font-size: 0.7em;
  }

  .footer-land {
    top: 270vh;
  }

}

@media screen and (max-width: 400px) {

  .invit-cont {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6em;
    line-height: 22px;
  }

  .response-cont {
    top: 250vh;
  }

}








