.landing-cont {
  position: relative;
  top: 58px;
  bottom: 90px;
}

.bg_landing img {
  height: 95vh;
  width:100vw;
}

.bg-img {
  z-index: 3;
  position: fixed;
  background-size: cover;
}

.title-ban {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title-ban img {
  display: block;
  position: absolute;
  width: 75vw;
  height: 30vw;
  z-index: 5;
  top: 4vw;
}

.next-sign {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.next-sign img {
  display: block;
  position: absolute;
  width: 27vw;
  height: 27vw;
  z-index: 5;
  top: 22vw;
}

.invit-cont {
  font-family: Sathu;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 31px;

  color: #FFFFFF;
}

.invitation-img {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.invitation-img img {
  display: block;
  position: absolute;
  width: 100vw;
  height: 150vh;
  z-index: 5;
  top: 100vh;
}

.invit-txt-top-left {
  position: absolute;
  // background: green;
  width: 33%;
  height: 22vh;
  left: 0px;
  top: 100vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 22px;
}

.invit-txt-top-right {
  position: absolute;
  // background: green;
  width: 33%;
  height: 22vh;
  right: 0px;
  top: 100vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 22px;
}

.invit-txt-top-centre {
  position: absolute;
  // background: red;
  width: 100%;
  height: 8vh;
  right: 0px;
  top: 120vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-letter {
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

.invit-name-left {
  position: absolute;
  // background: purple;
  width: 40%;
  height: 28vh;
  left: 0px;
  top: 128vh;
  z-index: 1100;

  font-size: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-name-right {
  position: absolute;
  // background: purple;
  width: 40%;
  height: 28vh;
  right: 0px;
  top: 128vh;
  z-index: 1100;

  font-size: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-logo {
  position: absolute;
  // background: blue;
  height: 28vh;
  width: 20%;
  left: 40%;
  top: 128vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
}

.invit-logo img {
  width: 9em;
  height: 9em;
}

.invit-date {
  position: absolute;
  // background: red;
  width: 100%;
  height: 11vh;
  right: 0px;
  top: 157vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-left {
  position: absolute;
  // background: green;
  width: 33%;
  height: 24vh;
  left: 0px;
  top: 167vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-centre {
  position: absolute;
  // background: blue;
  width: 34%;
  height: 24vh;
  left: 33%;
  top: 167vh;
  padding-bottom: 1.87em;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-bottom-right {
  position: absolute;
  // background: green;
  width: 33%;
  height: 24vh;
  right: 0px;
  top: 167vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.invit-groups {
  position: absolute;
  // background: red;
  width: 100%;
  height: 8vh;
  right: 0px;
  top: 188vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.7em;
}

.localisation-text {
  position: absolute;
  // background: gray;
  width: 50%;
  height: 46vh;
  left: 0px;
  top: 192vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.localisation-map {
  position: absolute;
  // background: purple;
  width: 50%;
  height: 46vh;
  right: 0px;
  top: 192vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.response-cont {
  position: absolute;
  // background: red;
  width: 100%;
  height: 12vh;
  right: 0px;
  top: 238vh;
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.response-btn {
  color: white;
  text-decoration: underline;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.footer-land {
  display: block;
  position: absolute;
  left : 0px;
  top: 250vh;
  height: 90px;
  width: 100%;
  padding: 29px 0px;
  background-color: #00020c;
  color: white;
  text-align: center;
  font-size: 0.7em;
  z-index: 1000;
}


@media(max-width: 992px) {
  .title-ban img {
    top: 9vw;
  }

  .next-sign img {
    top: 42vw;
  }
}

@media(max-width: 768px) {
    .title-ban img {
    top: 3vw;
  }

  .next-sign img {
    top: 30vw;
  }
}








