.lift-cont {
  position: relative;
  top: 8vh;
  height: 89vh;
  width: 100vw;
  bottom: 90px;
  overflow: hidden;
}

.lift-bg img {
  height: 81vh;
  width: 100vw;
  object-fit: cover;
}

.lift-subcont {
  position: absolute;
  top: 0;
  height: 81vh;
  width: 100%;
  // background: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bob-card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  height: 30vh;
  width: 30vh;
  border-radius: 10%;
  box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 15px #000000;
  }
}

.bob-card a {
  text-decoration: none;
  color: inherit;
  padding: 10vh 0;
  &:hover {
    text-decoration: none;
  }
}

.bob-new {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  height: 70vh;
  width: 42vw;
  border-radius: 10%;
  box-shadow: inset 0 0 10px #000000;
}

.bob-new form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  font-size: 14px;
}

.bob-new h5 {
  margin-bottom: 22px;
}

.bob-new a {
  color: #0E0000;
  &:hover {
    color: #0E0000;
  }
}

.form-control-lg {
  font-size: 14px;
  border-radius: 5px;
}

.list-cont {
  position: absolute;
  height: 81vh;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-cont-big {
  position: absolute;
  height: 81vh;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.lift_title {
  color: rgb(226,226,226);
  height: 8vh;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.lift_subtitle {
  color: rgb(226,226,226);
  font-size: 1em;
  height: 44px;
  text-align: center;
  line-height: 14px;
}

.lift_title_empty {
  color: rgb(226,226,226);
  height: 10vh;
  width: 70vw;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.empty_list img {
  object-fit: cover;
  height: 40vh;
  width: 40vh;
}

.lift_table {
  background-color: rgb(226,226,226);
  width: 80vw;
  height: 6vh;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 12px;
  border-radius: 25px;
  margin: 3px;
}

.lists_header {
  word-break: break-all;
  padding: 3px;
  hyphens: auto;
}

#name_header {
  height: 100%;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.01em;
}

#rallying_header {
  height: 100%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.01em;
  word-break: normal;
  overflow: scroll;

}

#departure_header {
  height: 100%;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.01em;
}

#return_header {
  height: 100%;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.01em;
}

#places_header {
  height: 100%;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.01em;
}

#contact_header {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.01em;
}

#ticking_box_header {
  height: 100%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.1em;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

#ticking_box_valid {
  height: 100%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.1em;
  color: rgb(226,226,226);
  background-color: green;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  &:hover {
    background-color: grey;
  }
}

#ticking_box_valid a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: none;

  }
}

#ticking_box_full {
  height: 100%;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #00020C 0.1em;
  color: rgb(226,226,226);
  background-color: #f48025;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.required {
  background-color: red;
}

// Tryouts --

$green: #4cd964;
$red: #ff3b30;
$blue: #335d73;

.switch {
  position: absolute;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: $green;
  transition: all 0.2s ease;
  border-radius: 25px;
  span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: white;
    display: block;
    transform: rotate(-45deg);
    transition: all .2s ease;
    border-radius: 2px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 4px;
      height: 12px;
      margin-top: -8px;
      background: white;
      transition: all .2s ease;
      border-radius: 2px;
    }
  }
}

// input[type=radio] {
//   display: none;
// }

.switch label {
  cursor: pointer;
  color: rgba(#000, .2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for=yes] {
  position: absolute;
  left: 0px;
  height: 20px;
}

label[for=no] {
  position: absolute;
  right: 0px;
}

#no:checked ~ .switch {
    background: $blue;
}

#no:checked ~ .switch span .bottom_span {
    background: $red;
    margin-left: -8px;
    transform: rotate(-45deg);
    &:after {
      background: $green;
      height: 20px;
      margin-top: -8px;
      margin-left: 8px;
      transform: rotate(-45deg);
    }
}

 #no:checked ~ .switch span .top_span {
    background: $red;
    margin-left: -8px;
    transform: rotate(-45deg);
    &:after {
      background: $green;
      height: 20px;
      margin-top: -8px;
      margin-left: 8px;
      transform: rotate(-45deg);
    }
 }

#yes:checked ~ .switch label[for=yes]{
  color: white;
}

#no:checked ~ .switch label[for=no]{
  color: white;
}




@media screen and (max-width: 1024px) {

  .list-cont-big {

  }

}



