.photos-cont {
  // position: relative;
  top: 58px;
  height: 108vh;
  width: 100vw;
  bottom: 90px;
  overflow: hidden;
}

.photos-bg img {
  width: 100%;
  // background-size: cover;
}

.photos-box {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 74vh;
  width: 100%;
  height: 28vh;
  z-index: 2000;
}

.photos-chart {
  margin: 0 20%;
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10000;
}

.chart-top {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
}

.chart-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 42%;
  height: 50%;
}

// .photos-pic {
//   height: 100vh;
//   width: 100%;
// }

.photos-pic img {
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  z-index: 30;
  box-shadow: 0px 0px 32px rgba(240, 240, 240, 0.7);
}

#photos-pic-1 img {
  top: 25%;
  left: 8%;
  height: 2em;
  width: 2em;
}

#photos-pic-2 img {
  top: 16%;
  left: 28%;
  height: 3em;
  width: 3em;
}

#photos-pic-3 img {
  top: 39%;
  left: 38%;
  height: 2.3em;
  width: 2.3em;
}

#photos-pic-4 img {
  top: 35%;
  left: 53%;
  height: 4em;
  width: 4em;
}

#photos-pic-5 img {
  top: 18%;
  left: 85%;
  height: 3.5em;
  width: 3.5em;
}

#photos-pic-6 img {
  top: 64%;
  left: 80%;
  height: 3em;
  width: 3em;
}

#photos-pic-7 img {
  top: 71%;
  left: 61%;
  height: 3.2em;
  width: 3.2em;
}

.photos-line {
  position: absolute;
  // border: 0.3px solid rgba(240, 240, 240, 0.7);
  // box-shadow: 0px 0px 8px #FFFFFF;
  // z-index: 3000;
}

#photos-line-1 {
  top: 17.5%;
  left: 28%;
  background-color: transparent;
  height: 2%;
  width: 11%;
  transform: rotate(179deg);
  background-image: linear-gradient(to bottom right, transparent, transparent, transparent, white, transparent, transparent, transparent);
}

#photos-line-2 {
  top: 21.5%;
  left: 39%;
  background-color: transparent;
  height: 2%;
  width: 11%;
  transform: rotate(192.25deg);
  background-image: linear-gradient(to bottom right, transparent, transparent, transparent, white, transparent, transparent, transparent);
}

#photos-line-3 {
  top: 27.5%;
  left: 49%;
  background-color: transparent;
  height: 2%;
  width: 13%;
  transform: rotate(184.25deg);
  background-image: linear-gradient(to bottom right, transparent, transparent, transparent, white, transparent, transparent, transparent);
}

#photos-line-4 {
  top: 26%;
  left: 62%;
  background-color: transparent;
  height: 2%;
  width: 13%;
  transform: rotate(176.25deg);
  background-image: linear-gradient(to bottom right, transparent, transparent, transparent, white, transparent, transparent, transparent);
}

#photos-line-5 {
  top: 50%;
  left: 70.1%;
  background-color: transparent;
  height: 2%;
  width: 9%;
  transform: rotate(272.25deg);
  background-image: linear-gradient(to bottom right, transparent, transparent, transparent, white, transparent, transparent, transparent);
}

#photos-line-6 {
  top: 75%;
  left: 65%;
  background-color: transparent;
  height: 2%;
  width: 10%;
  transform: rotate(183.25deg);
  background-image: linear-gradient(to bottom right, transparent, transparent, transparent, white, transparent, transparent, transparent);
}

#photos-line-7 {
  top: 54%;
  left: 59.7%;
  background-color: transparent;
  height: 2%;
  width: 8%;
  transform: rotate(247.25deg);
  background-image: linear-gradient(to bottom right, transparent, transparent, transparent, white, transparent, transparent, transparent);
}


