.page-reponse{
  top:50px;
  height:108vh;
  width:100vw;
  bottom:90px;
  overflow: hidden;
}
.bg-img-reponse img{
  width:100%;
}
.carre-form{
  background-color: white;
  height: 600px;
  width: 900px;
  position:absolute;
  top: 175px;
  left:275px;
  border-radius: 15px;
}
.form{

