<div class="lift-cont">
  <div class="lift-bg">
    <%= cl_image_tag("nrkgbrxhvbqobstcrw64") %>
    <%#= image_tag("Background_Landing_Stars.jpg", alt: "A sky full of Stars") %>
  </div>
  <div class="lift-cont-home">
    <div class="lift-subcont-home">
      <div class="bob-card">
        <h2><%= link_to "Je propose un Lift! ðŸ¥›", new_lift_path %></h2>
      </div>
      <div class="bob-card">
        <h2><%= link_to "Je cherche un Lift! ðŸ¸", lifts_path %></h2>
      </div>
    </div>
    <div class="btn-lift-new">
      <%= link_to "JE SUIS DÃ‰JÃ€ UN LIFT!", lift_index_path %>
    </div>
  </div>
</div>
