<div class="photos-cont">
  <div class="photos-bg">
    <%= cl_image_tag("nrkgbrxhvbqobstcrw64") %>
  </div>
  <div class="photos-subcont">

      <div class="container">
        <%= cl_image_tag("zynixvozsx79iadhglld") %>
        <div class="text-pictures">
          <a href="">Coming soon ! </a>
        </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
