<div class="photos-cont">
  <div class="photos-bg">
    <%= image_tag("Background_Landing_Stars.jpg", alt: "A sky full of Stars") %>
  </div>
  <div class="photos-subcont">
    <div class="bob-new" id="remerciement-new">
      <div class="container">
        <%= image_tag("Background_Landing_Stars.jpg", alt: "A sky full of Stars") %>
      </div>
    </div>
  </div>
</div>
