.btn-lift {
  border-radius: 5px;
  font-size: 14px;
  border-color: #0E0000;
  width: 45%;
  &:hover {
    background-color: rgba(215,215,215,0.7);
    // opacity: 50%;
  }
}

.btn-lift-new {
  color: #e2e2e2;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 32px;
  width: 300px;
  margin: 20px;
  border: solid rgba(215,215,215,0.7) 1.2px;;
  border-radius: 5px;
  z-index: 3000;
  cursor: pointer;
  &:hover {
    background-color: rgba(215,215,215,0.2);
    // opacity: 50%;
  }
}

.btn-lift-new a {
  text-decoration: none;
  color: #e2e2e2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}

#btn-passenger {
  margin-bottom: 32px;
}

@media screen and (max-width: 450px) {
  .btn-lift-new {
    position: sticky;
    margin: 16px;
    left: 0;
    width: 90vw;
  }
}

