.footer-cont{
  z-index: 1000;
}

.footer {
  left : 0px;
  bottom: 0px;
  height: 90px;
  width: 100vw;
  padding: 29px 0px;
  background-color: #00020c;
  color: rgb(226,226,226);
  text-align: center;
  font-size: 11px;
}



