.navbar-northern-lights {
  display: flex;
  justify-content: space-between;
  background: #00020c;
  width: 100vw;
  height: 58px;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

#navbarSupportedContent {
  justify-content: center;

}

.navbar-cont {
  padding: 8px;
}

.navbar-link {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav {
  width: 68vw;
}

.navbar-item {
  margin: 0 auto;
}

.navbar-item :hover{
  text-decoration: none;
  // color: #F4F4F4;
  color: #e2bf4f;
  // opacity: 70%;
}
