.navbar-northern-lights {
  display: flex;
  justify-content: space-between;
  background: blue;
}

#navbar-cont {
  position: absolute;
  width: 1440px;
  height: 55px;
  left: 0px;
  top: 0px;
}

.navbar-link {
  color: white;
}

.navbar-item {
  margin: 0 12%;

}
